*{
  font-family: 'Dosis', sans-serif;
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}

.navbar-nav .nav-item .nav-link{
  color: white;
  font-size: 1.3rem;
  font-weight: bold;
  transition: 0.6s all;
}
.navbar-nav .nav-it .nav-link:hover{
  border: 2px solid white;
  height: 3.5rem;
  background-color: skyblue;
  color: black;
}
.nav1 {
  z-index: 99999;
  width: 100%;
  border-bottom: 1px solid #df691a;
}
.section-job {
  background: skyblue;
  padding-top: 20px;
  padding-bottom: 20px;
  margin: 30px;
  border-radius: 30px;
}
.section-struggle{
  background: rgba(21, 180, 216, 0.1);
  padding-top: 20px;
  padding-bottom: 20px;
  margin: 30px;
  border-radius: 30px;
}
.section-footer{
  background: rgba(44, 2, 235, 0.1);
  padding-top: 20px;
  padding-bottom: 20px;
  margin: 30px;
  border-radius: 30px;
}
.btn-round {
  border-radius: 25px;
  padding: 4px 30px;
  margin-left: 100px;
}
.btn {
  font-family: "Raleway","Helvetica Neue",Helvetica,Arial,sans-serif;
}
.btn-default {
  color: black;
  background-color: white;
  border:2px solid black;
}
.btn {
  display: inline-block;
  margin-bottom: 0;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 8px 12px;
  font-size: 16px;
  line-height: 1.42857143;
  border-radius: 4px;
  
}